<section id="skills">
<h2>{{ keywords['skills'] }}</h2>
<div>
    <h3>{{ keywords['programming_and_markup_languages'] }}</h3>
    <div>
        <ul>
        {% for item in skills['languages']['programming'] %}
            <li>{{ item }}</li>
        {% endfor %}
        {% for item in skills['languages']['markup'] %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
<div>
    <h3>{{ keywords['software_development_and_project_management'] }}</h3>
    <ul>
    {% for item in skills['tools'] %}
        <li>{{ item }}</li>
        {% endfor %}
        {% for item in skills['project_management'] %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
</div>
<div>
    <h3>{{ keywords['misc_skills'] }}</h3>
    <ul>
    {% for item in skills['other'] %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
</div>

</section>
